/*GLOBAL-START*/

body{
	font:10px/1.5 Arial, Helvetica, San-Serif;
	padding:0;
	margin:0; 
	/*background-color: #f4f4f4;*/
	/*Color Combination: Orange= #F36931, Grey= #BBB6B3, Brown= #4A3D35 and Black= #000000;*/
	/*Color Combination: DarkGrey= #35424a, Frushia= #BA3954, White= #ffffff, LightGray= #cccccc, Black= #000000*/
	/*Color Combination: LightGreen= #C0E789, Yellow= #ECD834, DarkGreen= #34AA00 and Black= #000000;*/
	background: url('../Images/BG1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

/*HEADER-START*/
header{
	color: #000000;
	min-height: 70px;
	padding-top: 20px;
	/*mix-blend-mode: screen;*/
	
}

header #container_header{
	margin: auto;
	width: 80%;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: #BA3954 3px solid;	
}

header #branding{
	text-align: center;	
}

span #branding_span{
	display: inline-block;

}

header #branding h1{
	align-self: center;
}

header nav{
	float: right;
	margin-top: 10px;
	overflow: hidden;
}

header li{
	padding: 0 20px 0 20px;
	display: inline;
	float: left;
	text-transform: bold;
}

header a{
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

header a:hover, .current a, header .highlight{
	font-weight: bold;
	color: #BA3954;
}
/*HEADER-END*/

/*FOOTER-START*/
footer{
	padding: 10px;
	margin-top: 20px;
	width:100%;
	height: 100%;
	/*font-size: 2vw;
	font-weight: bold;*/
	/*mix-blend-mode: screen;*/	
}

footer .container_footer{
	margin: auto;
	width: 80%;
	overflow: hidden;
	padding-top: 20px;
	border-top: #BA3954 3px solid;
	color: #BA3954;
	text-align: center;
	text-shadow: 2px 2px 5px #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}

.footerBox {
	text-align:center;
	width: 80%;
	padding:10px;
	position: relative;	
	box-sizing: border-box;
}

/*FOOTER ENDS*/

/*CONTENT STARTS*/
.content{
	min-height:500px;
	/*width: 90%;*/
	align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements{
    margin: auto;
	overflow: hidden;
	width: 90%;
	font-size:20px;
	color: #FFFFFF;
    align-self: center;
    text-align: center;
	text-shadow: 2px 2px 5px #000000;
}

.ul{
    display: inline-block;
}

.table, .th, .td {
    border: 1px solid;
    align-self: center;
    align-items: center;
    margin: 0 auto;
  }
/*CONTENT ENDS*/